/* OverviewItem.css */
.overview-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 0.75rem; */
  gap: 0.625rem;
}

.overview-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: #f8fafc;
}

.overview-icon {
  width: 24px;
  height: 24px;
  color: #4b5563;
  object-fit: contain;
}

.overview-text-content {
  flex: 1;
  min-width: 0;
}

.overview-label {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #6b7280;
  margin: 0;
  line-height: 1.4;
}

.overview-value {
  font-size: 1rem;
  color: #111827;
  font-weight: 600;
  margin: 0.25rem 0 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .overview-item-container {
    /* padding: 0.75rem; */
    gap: 0.5rem;
    align-items: center;
    text-align: center;
  }

  .overview-icon-wrapper {
    width: 40px;
    height: 40px;
  }

  .overview-icon {
    width: 24px;
    height: 24px;
  }

  .overview-label {
    font-size: 0.875rem;
  }

  .overview-value {
    font-size: 0.9375rem;
  }
}

.overview-subtext {
  font-size: 0.6875rem;
  color: #94a3b8;
  margin: 0.125rem 0 0 0;
}